#enigma_nav_top ul li.current-menu-parent { background-color: rgb(187, 128, 60) !important; }
#enigma_nav_top ul li.current-menu-parent { color:#fff !important; } 
a.dropdown-toggle{ color:#fff; }


#wrapper{
	background: #ffffff;
} 
/*  header contact info section ***/
.header_section{
	background-color: rgb(187, 128, 60);
	color:#fff;
}
/** navbar menus ***/
.navigation_menu{
	background-color: #fff;
	border-top:2px solid  rgb(187, 128, 60);
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color:  rgb(187, 128, 60);
}






.video {
position: fixed;
left: 0px;
top: 0px;
z-index: -100;
min-height: 100%;
min-width: 1040px;
width: 100%;
height: auto;
/*overflow: hidden;*/ 
}

.maintext {
color: #CCC;
z-index: 100;
font-size: 24px;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
font-variant: small-caps;
font-weight: normal;
}

.rightcolumn {
    float: left;
width: 50%;
}

.leftcolumn {
float: left;
width: 40%;
margin-left: 10%;
}











.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}





.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	background-color:  rgb(187, 128, 60);
}



.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: grayscale(1) blur(3px);
  -webkit-filter: grayscale(1) blur(3px);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgb(0, 0, 0, 0.6);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect a.info, .hovereffect h2 {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
  text-transform: uppercase;
}

.hovereffect:hover a.info, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}






.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	background-color:  rgb(187, 128, 60);
}

.dropdown-menu {
	background-color: rgba(194, 141, 79, 0.84);
}
/** headings titles css ***/
.enigma_heading_title h3 {
	border-bottom: 4px solid  rgb(187, 128, 60);
	color: #3b3b3b;
}
.enigma_heading_title2 h3 {
	border-bottom: 2px solid  rgb(187, 128, 60);
	color: #3b3b3b;
}
/** slider css ***/
.carousel-list li {
	background:rgb(49, 162, 221, 0.8);
}

/** service  section css ***/
.enigma_service_iocn{
	border: 4px solid  rgb(187, 128, 60);
	background-size: 100% 200%;
	background-color: rgb(187, 128, 60);
	background-image: linear-gradient(to bottom,  rgb(187, 128, 60) 50%, #fff 50%);
}
.enigma_service_area:hover .enigma_service_iocn i {
	color: rgb(187, 128, 60);
	
}
.enigma_service_area:hover .enigma_service_iocn{
	background-position: 0 -100%;
	background-color:#ffffff;
}
.enigma_service_iocn_2 i{
	background: #fff;
	border: 4px solid  rgb(187, 128, 60);
}
.enigma_service_iocn_2 i{
	color:  rgb(187, 128, 60);
	background-size: 100% 200%;
	background-image: linear-gradient(to bottom, #fff 50%,  rgb(187, 128, 60) 50%);
 }
.enigma_service_area_2:hover .enigma_service_iocn_2 i{
	background-position: 0 -100%;
	color: #ffffff;
	background-color: rgb(187, 128, 60);
}


/****************portfolio css ********************************************************
********************************************************************************/

.enigma_home_portfolio_showcase .enigma_home_portfolio_showcase_icons a {
	background-color:  rgb(187, 128, 60);
	border:2px solid  rgb(187, 128, 60);
	color:#fff;
}
.enigma_home_portfolio_showcase .enigma_home_portfolio_showcase_icons a:hover{
	background-color: #ffffff;
	border:2px solid  rgb(187, 128, 60);
	color: rgb(187, 128, 60);
}
.enigma_home_portfolio_caption {
	border-left:1px solid #ccc;
	border-bottom:4px solid  rgb(187, 128, 60);
	border-right:1px solid #ccc;
}

.enigma_home_portfolio_caption:hover{
    background:  rgb(187, 128, 60);
}
.enigma_home_portfolio_caption:hover  h3 a ,.enigma_home_portfolio_caption:hover  small{
   color: #ffffff;
}
.img-wrapper:hover .enigma_home_portfolio_caption{
 background:  rgb(187, 128, 60);
 border-left:1px solid  rgb(187, 128, 60);
	border-bottom:4px solid  rgb(187, 128, 60);
	border-right:1px solid  rgb(187, 128, 60);
}
.img-wrapper:hover .enigma_home_portfolio_caption  h3 a,.img-wrapper:hover .enigma_home_portfolio_caption  small{
 color: #ffffff;
}

.enigma_proejct_button a {
	background-color: #f8504b;
	color: #FFFFFF;
	border: 2px solid  rgb(187, 128, 60);
	transition: all 0.4s ease 0s;
}
.enigma_proejct_button a:hover {
	background-color: #ffffff;
	color:  rgb(187, 128, 60);
	border: 2px solid  rgb(187, 128, 60);
	text-decoration:none;
	
}


.enigma_carousel-prev, .enigma_carousel-next {
    background-color: #fff;
	border: 2px solid  rgb(187, 128, 60);
}
.enigma_carousel-prev:hover, .enigma_carousel-next:hover {
    background-color:  rgb(187, 128, 60);
	color:#fff;
}
.enigma_carousel-prev:hover i, .enigma_carousel-next:hover i{
    color:#fff;
}
.enigma_carousel-prev i,
.enigma_carousel-next i {
	color:  rgb(187, 128, 60);
}

/*** project detail ***/


.enigma_portfolio_detail_pagi li a {
	color: #404040;
	border:2px solid  rgb(187, 128, 60);
	text-align:center;
	background-size: 100% 200%;
	background-color: rgb(187, 128, 60);
    background-image: linear-gradient(to bottom,  rgb(187, 128, 60) 50%, #ffffff 50%);
   -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
	
}
.enigma_portfolio_detail_pagi li a:hover {
	color: #404040;
	border:2px solid  rgb(187, 128, 60);
	background-position: 0 -100%;
	background-color:#ffffff;
}

.enigma_portfolio_detail_pagi li a span{
	color:#fff;
	line-height:35px;
}
.enigma_portfolio_detail_pagi li a:hover span{
	color: rgb(187, 128, 60);
}
.enigma-project-detail-sidebar p small {
	color:#777777;
	
}



.enigma-project-detail-sidebar .launch-enigma-project a {

	color: #ffffff;
	border: 2px solid  rgb(187, 128, 60);
	background-size: 100% 200%;
	background-color:  rgb(187, 128, 60);
    background-image: linear-gradient(to bottom,  rgb(187, 128, 60) 50%, #ffffff 50%);
   -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
	
}
.enigma-project-detail-sidebar .launch-enigma-project a:hover {
	background-color: #ffffff;
	color:  rgb(187, 128, 60);
	border: 2px solid  rgb(187, 128, 60);
	background-position: 0 -100%;
}

/** gallery css **/

.enigma_gallery_showcase .enigma_gallery_showcase_icons a {
	background-color:  rgb(187, 128, 60);
	border:2px solid  rgb(187, 128, 60);
	color:#fff;
}

.enigma_gallery_showcase .enigma_gallery_showcase_icons a:hover{
	background-color: #ffffff;
	border:2px solid  rgb(187, 128, 60);
	color: rgb(187, 128, 60);
}


/**************** blog css ********************************************************
********************************************************************************/

/** blog thumbnail css **/
.enigma_blog_thumb_wrapper{
	background:#fff;
	border-bottom: 5px solid  rgb(187, 128, 60);
	box-shadow: 0 0 6px rgb(0,0,0,.7);

}
.enigma_blog_thumb_wrapper h2 a{
	color: rgb(187, 128, 60);
	transition: all 0.4s ease 0s;
}

.enigma_blog_thumb_wrapper h2:hover a{
	color: rgb(187, 128, 60);

}
.enigma_blog_thumb_date li i{
	color:  rgb(187, 128, 60);
}
.enigma_tags a{
	background-size: 100% 200%;
	
    background-image: linear-gradient(to bottom, #edf0f2 50%,  rgb(187, 128, 60) 50%);
 }

.enigma_tags a:hover{
	color:#fff;
	background-position: 0 -100%;
	background-color: rgb(187, 128, 60);
}
.enigma_tags a i{
	color: rgb(187, 128, 60);
}
.enigma_tags a:hover i{
	color:#fff;
}

.enigma_blog_thumb_wrapper span a i{
	color:  rgb(187, 128, 60);
}
.enigma_blog_thumb_wrapper span a {
	color:#555;
	
}.enigma_blog_thumb_footer{
	padding-top:20px;
	padding-bottom:10px;
	border-top:3px solid  #f5f5f5;
}

.enigma_blog_read_btn{
	border: 2px solid  rgb(187, 128, 60);
	background-size: 100% 200%;
	background-color: rgb(187, 128, 60);
    background-image: linear-gradient(to bottom,  rgb(187, 128, 60) 50%, #fff 50%);
   }
.enigma_blog_read_btn i {
	margin-right:5px;
}
.enigma_blog_read_btn:hover{
	background-position: 0 -100%;
	color:  rgb(187, 128, 60);
	background-color:#ffffff;
}

.enigma_blog_thumb_wrapper_showcase .enigma_blog_thumb_wrapper_showcase_icons a {
	background-color:  rgb(187, 128, 60);
	color: #fff;
	-webkit-transition: all .25s ease-in;
    -moz-transition: all .25s ease-in;
    -o-transition: all .25s ease-in;
    transition: all .25s ease-in;
}
.enigma_blog_thumb_wrapper_showcase .enigma_blog_thumb_wrapper_showcase_icons a:hover{
	background-color: #ffffff;
	border: 2px solid  rgb(187, 128, 60);
	color:  rgb(187, 128, 60);
}
/********* Blog Full width css ********/
.enigma_post_date {
	background:  rgb(187, 128, 60);
	color: #ffffff;
}
.enigma_blog_comment:hover i, .enigma_blog_comment:hover h6{
	color: rgb(187, 128, 60);
} 
.enigma_fuul_blog_detail_padding h2 a{
	color: rgb(187, 128, 60);
}
.enigma_fuul_blog_detail_padding h2  a:hover{
	color: rgb(187, 128, 60);
}
/*** blog sidebar css **/
.enigma_recent_widget_post h3 a {
	color: rgb(187, 128, 60);
}
.enigma_sidebar_widget {
	border-left: 3px solid  rgb(187, 128, 60);
	border-right: 3px solid  rgb(187, 128, 60);
	border-bottom: 3px solid  rgb(187, 128, 60);
}
.enigma_sidebar_widget_title{
	background: rgb(187, 128, 60);
}
.enigma_sidebar_link p a:hover  , .enigma_sidebar_widget ul li a:hover {
	color:  rgb(187, 128, 60);
}

.enigma_widget_tags a , .tagcloud a {
	background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #edf0f2 50%,  rgb(187, 128, 60) 50%);
 }
.enigma_widget_tags a:hover , .tagcloud a:hover {
	border: 1px solid  rgb(187, 128, 60);
	background-position: 0 -100%;
	color: #fff;
	background-color: rgb(187, 128, 60);
}

/** blog detail **/
.enigma_author_detail_wrapper{
	background:  rgb(187, 128, 60);
	padding:15px;
	margin-bottom:40px;
	
}
.enigma_author_detail_wrapper{
	border-left:2px solid  rgb(187, 128, 60);
}
/** blog  form input css **/ 
.reply a {
	color:  rgb(187, 128, 60);
}
.enigma_con_input_control:focus, .enigma_con_textarea_control:focus,
.enigma_contact_input_control:focus, .enigma_contact_textarea_control:focus {
  border-color:  rgb(187, 128, 60);
  -webkit-box-shadow: inset 0 0px 0px  rgb(187, 128, 60), 0 0 5px  rgb(187, 128, 60);
          box-shadow: inset 0 0px 0px  rgb(187, 128, 60), 0 0 5px  rgb(187, 128, 60);
}
.enigma_send_button , #enigma_send_button{
	border-color:  rgb(187, 128, 60);
	color: #6a6a6a;

    padding-top: `9px;
	background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #fff 50%,  rgb(187, 128, 60) 50%);
   -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
.enigma_send_button:hover ,#enigma_send_button:hover{
	background-position: 0 -100%;
    border: 2px solid  rgb(187, 128, 60);
	color: #ffffff;
	background-color: rgb(187, 128, 60);
}



.enigma_blog_pagination {
	background-color: #FFFFFF;	
}
.enigma_blog_pagi a {
	border: 1px solid #dbdbdb !important;
	background-color: #ffffff;
	background-size: 100% 200%;
	background-image: linear-gradient(to bottom, #fff 50%,  rgb(187, 128, 60) 50%);
   -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
	color: #777777;
}
.enigma_blog_pagi a:hover, .enigma_blog_pagi a.active {
	background-position: 0 -100%;
	color: #ffffff;
	background-color: rgb(187, 128, 60);
}

/****** Testimonial css *******************************************
****************************************************************/
.enigma_testimonial_area i{
	color: rgb(187, 128, 60);
}
.enigma_testimonial_area img{
	border: 10px solid  rgb(187, 128, 60);
}
.pager a{
	background: #fff;
	border: 2px solid  rgb(187, 128, 60);
}
.pager a.selected{
	background:  rgb(187, 128, 60);
	border: 2px solid  rgb(187, 128, 60);
}
/**** Client Css *************************************************
****************************************************************/
.enigma_client_wrapper:hover {
	border: 4px solid  rgb(187, 128, 60);

}
.enigma_client_prev, .enigma_client_next {
    background-color: #fff;
	border: 2px solid  rgb(187, 128, 60);
}
.enigma_client_prev:hover, .enigma_client_next:hover {
    background-color:  rgb(187, 128, 60);
	color:#fff;
}
.enigma_client_prev:hover i, .enigma_client_next:hover i{
    color:#fff;
}

.enigma_carousel-prev i,
.enigma_carousel-next i {
	color:  rgb(187, 128, 60);
}
/**** About us page Css *************************************************
****************************************************************/
.enigma_team_showcase .enigma_team_showcase_icons a {
	background-color:  rgb(187, 128, 60);
	border:2px solid  rgb(187, 128, 60);
	color:#fff;
}

.enigma_team_showcase .enigma_team_showcase_icons a:hover{
	background-color: #ffffff;
	border:2px solid  rgb(187, 128, 60);
	color: rgb(187, 128, 60);
}

.enigma_team_caption:hover{
    background:  rgb(187, 128, 60);
}
.enigma_team_caption:hover  h3 a ,.enigma_team_caption:hover  small{
   color: #ffffff;
}

.enigma_team_wrapper:hover .enigma_team_caption{
 background:  rgb(187, 128, 60);
}
.enigma_team_wrapper:hover .enigma_team_caption  h3 ,.enigma_team_wrapper:hover .enigma_team_caption  small{
 color: #ffffff;
}
/***** Call Out Section *****************************************************************
***************************************************************************************/
.enigma_callout_area {
	background-color:  rgb(187, 128, 60);

}
/***** Footer Area Css *****************************************************************
***************************************************************************************/
.enigma_footer_area{
	background:  rgb(155, 100, 36);
	border-top: 0px solid #6B6B6B;
}
/***** Contact Info Css *****************************************************************
***************************************************************************************/
.enigma_contact_info li .desc {
	color:  rgb(187, 128, 60);
}
/***** Shortcode  Css *****************************************************************
***************************************************************************************/
/*Dropcaps Styles*/
.enigma_dropcape_square span {
	background-color:  rgb(187, 128, 60);
    color: #FFFFFF;
}
.enigma_dropcape_simple span {
    color:  rgb(187, 128, 60);
}
.enigma_dropcape_circle span {
	background-color:  rgb(187, 128, 60);
    color: #FFFFFF;
}
/*** breadcum style css **/
.breadcrumb li a {
color:  rgb(187, 128, 60) !important;
}
/** progress bar or nav button css */
.progress-bar {
	background-color:  rgb(187, 128, 60) !important;
}
.btn-search{
	background: rgb(187, 128, 60) !important;
}
.nav-pills > li  > a{
	border: 3px solid  rgb(187, 128, 60) !important;
	background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #fff 50%,  rgb(187, 128, 60) 50%) !important;
}
.nav-pills > li.active > a, .nav-pills > li  > a:hover, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-color: rgb(187, 128, 60) !important;
	background-image: linear-gradient(to bottom,  rgb(187, 128, 60) 50%,  rgb(187, 128, 60) 50%) !important;
	
}
.nav-stacked > li  > a
{
	border: 3px solid  rgb(187, 128, 60) !important;
	background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #fff 50%,  rgb(187, 128, 60) 50%) !important;
 }
 .nav-stacked > li.active > a, .nav-stacked > li  > a:hover, .nav-stacked > li.active > a:hover, .nav-stacked > li.active > a:focus {
	background-color: rgb(187, 128, 60) !important;
	background-image: linear-gradient(to bottom,  rgb(187, 128, 60) 50%,  rgb(187, 128, 60) 50%) !important;
	
}


.navbar-toggle {
background-color:  rgb(187, 128, 60) !important;
border: 1px solid  rgb(187, 128, 60) !important;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color:  rgb(187, 128, 60) !important;
}
.enigma_blockquote_section blockquote {
border-left: 5px solid  rgb(187, 128, 60) ;
}
blockquote {
    border-left: 5px solid  rgb(187, 128, 60);
 }
#wp-calendar caption {
background-color: rgb(187, 128, 60);
color: #fff;
}
.enigma_footer_widget_column ul li a ,.enigma_footer_widget_column ul#recentcomments li {color: #f2f2f2;}
.enigma_footer_widget_column ul li a:hover{color:  rgb(251, 255, 0, 0.89);}


.loader {
 position: fixed;
 left: 0px;
 top: 0px;
 width: 100%;
 height: 100%;
 z-index: 9999;
 background: url(../images/pre.gif) 50% 50% no-repeat white;