.wrapper1 {
  min-height: 1px; /* Required for IE7 */
  }

.wrapper1:after {
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  content: ".";
  font-size: 0;
  }

.col1 {
  display: inline;
  float: left;
  }